<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>strong</display-name>
	<servlet>
		<description>
		</description>
		<display-name>PostEssayServlet</display-name>
		<servlet-name>PostEssayServlet</servlet-name>
		<servlet-class>org.walter.strong.servlet.PostEssayServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TestInstanceServlet</display-name>
		<servlet-name>TestInstanceServlet</servlet-name>
		<servlet-class>org.walter.strong.servlet.TestInstanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostEssayServlet</servlet-name>
		<url-pattern>/PostEssayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestInstanceServlet</servlet-name>
		<url-pattern>/TestInstanceServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/page/index.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>
